body                { 
    background-color: #191719 !important; color: #ffffff; font-family: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif; margin: 5px}
h3                  { margin-top: 3px; margin-bottom: 3px; font-size: 1.5em }
table,td            { border: none; padding: 2px; border-spacing: 2px; }
table               { background-color: #F0F0F0; border-collapse: separate; }
th                  { border: 1px #353535 solid; background-color: #404040 }
a,a:hover           { color: white; }
.status_yellow a,a:hover { color: black;}
.widetable          { width: 100%; clear: both }
.bold               { font-weight: bold; }
.status_green       { background-color: #69B578; color: white; padding: 3px }
.status_red         { background-color: #CB4E78; color: white; padding: 3px }
.status_yellow      { background-color: #F6EF92; color: black; padding: 3px }
.status_grey        { background-color: #3F415D; color: white; padding: 3px }
.status_soft        { opacity: 0.25}
.known_hosts        { background-color: lightgrey; color: black }
.known_hosts_desc   { color: #686868 }
.desc               { font-size: 0.8em }
#info-window-text   { padding: 30px; vertical-align: middle }
.tag                { font-size: 0.6em; color: white; padding: 4px; -webkit-border-radius: 5px; }
.tag_label          { color: white; padding-top: 10px !important; padding-bottom: 10px; padding-right: 30px; padding-left: 30px; -webkit-border-radius: 5px; }
.tableheader        { color: #52D1DC }

div.frame           { padding-bottom: 5px; }

div.header h3               { float: left }
div.header .totals          { float: right }


.totals             { text-align: right; right: 10px; padding: 5px; 
                      border: 1px #848484 solid; position: absolute; 
                      background: #282828;.
                      -webkit-border-radius: 4px; 
                      -moz-border-radius: 4px; 
                      border-radius: 4px; 
                      margin-top: 5px; margin-bottom: 5px; }
table		    { background-color: #303030; }
table#broken_services tr td span.controls { display: none; float: right }
table#broken_hosts    tr td span.controls { display: none; float: right }
table#broken_services tr td span.detail { display: none;}
table#broken_services tr:hover td span.detail { display: block; font-size: 0.6em }
table#broken_services tr:hover td span.controls { display:inline-block; }
table#broken_hosts    tr:hover td span.controls { display:inline-block; }
#info-window        { display: none; position: absolute; top: 50%; width: 400px; text-align: center; left: 50%; margin-left: -200px;
                      border: 1px #848484 solid; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-top: -75px;
                      background: #F0F0F0; font-family: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif; padding: 20px }
.known_service      { font-size: 1em }

#spinner    { position: absolute; top: 10px; width: 300px; text-align: center; left: 50%; margin-left: -150px;
                        border: 1px #848484 solid; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;.
                                          background: #F0F0F0; font-family: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif; }

                                          .settings_element { display: inline-block; float: left; margin-right: 10px; vertical-align: middle; }
#ack-comment-container { padding:0.5em; }	#ack-comment-container { padding:0.5em; }
#ack-comment-container input { margin:0; width:80%; height:23px; }	#ack-comment-container input { margin:0; width:80%; height:23px; }
#ack-comment-container a { width:12%; display:inline-block; padding-left: 2%; padding-right: 2%;} 	#ack-comment-container a { width:12%; display:inline-block; padding-left: 2%; padding-right: 2%;}
#settings-note { float:right; opacity:0.1; transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -webkit-transition: .25s ease-in-out; }
#settings-note:hover { opacity:0.9; } 
